* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-size: cover;
}

body {
    overflow-x: hidden; /* Evita el scroll horizontal */
    margin-top: 50px;

}

li {
    list-style: none;
}
.contenedorTexto{
    color: black;
}
.separadorInicio {
    margin-top: 80px;
}

/* ================== estilos de video ======================== */

.video-background video {
    position: absolute;
    top: -50%; /* Mueve el video hacia arriba para mostrar solo la parte inferior */
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás de otros elementos */
    }

.video-background {
    background-attachment: fixed;
    
}

/* Estilos para el menú de navegación */
.menu-nav {
    position: fixed;
    top: 0;
    left: 0; /* Asegura que empiece en el borde izquierdo */
    width: 100%; /* Ocupa todo el ancho visible */
    z-index: 10;
    backdrop-filter: blur(10px);
    display: flex;
}

/* .menu-nav::after {
    content: "";
    position: absolute;
    bottom: 0;      
    left: 0;
    width: 100%;
    height: 15px;   
    background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    pointer-events: none; 
} */

.menu-nav ul {
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    list-style-type: none;
    width: auto;
    height: 50px;
    gap: 45px;
}

.menu-nav ul a {
    padding: 5px 5px;
    text-decoration: none;
    color: white;

}

.menu-nav ul a:hover {
    color: #551ad4;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}


.Glass_effect {
    width: 30%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: rgba(22, 22, 22, 0.514);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
    color: white;

}


/* ======================================= estilos para el contenido =============================== */
main{
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: row; /* ← Ahora en fila */
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 100px 50px;
    flex-wrap: wrap; /* Por si se reduce el ancho de pantalla */
    background-color: none;
}

.contenido {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.skills_img {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.skills__img {
    max-width: 100%;
    height: auto;
}

#stars-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}


    /* min-height: 200vh; /* para poder hacer scroll y ver el efecto */
    /* padding: 50px;  quité esto por que ya le puse el margin superior de 50 directo al body
} */



/* ==================== Estilos para la sección de multiplicar ======================================= */
.calculosMatematicos{
display: flex;


}
.seccMult{
    display: flex;
    gap: 50px;  
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;

}
.seccMult__tablaDeMultiplicar{
    /* background-color: #007BFF; */
    height: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;


}
.seccMultiplicar__resultadoMultiplicar{
    /* background-color: red; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
}
#btnLimpiar{
    display: none;
}

.seccMult__tablaDeMultiplicar__form{
    display: flex;
    gap: 10px;
    color: white;
}
.secCalculadora{
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: left;

}

.secCalculadora__Numeros{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
}
.secCalculadora__Numeros input{
    
    border-top: none;
    border-left: none;
    
}



/* ============== Estilos para la sección de contacto ==============*/
/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
*/
.contactos{
    display: flex;
    gap: 40px;
    justify-content: left;
    margin: 10px ; 
    margin-left: 15% ;

}

.contacto {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* margin: 0px auto; */
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#contactoPersona {
    text-align: left;
    color: #333;
}

#rolDesarrollador{
    text-align: right;
    font-style: italic;
}

.persona {
    margin-bottom: 20px;
}

#nombreContacto{
    margin: 0;
    color: #007BFF;
}

.persona a {
    color: #007BFF;
    text-decoration: none;
}

.persona a:hover {
    text-decoration: underline;
}
